
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>
<hr />

<form asp-controller="Account" asp-action="ForgotPassword" method="post">

        <div class="mb-3 col-6 offset-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp">           
        </div>       
        <button type="submit" class="btn btn-primary offset-3">Submit</button>
</form>
