<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <title>Shopper</title>
</head>
<body>
    <partial name="_navbar" />
    <div class="container mt-5 mb-5">
        @if(TempData["message"] !=null){
            <partial name="_resultMessage" model="@(TempData.Get<ResultMessage>("message"))" />
        }
        @RenderBody()
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="~/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
